@model IEnumerable<SuperHeroesProject.Models.SuperHero>

@{
    ViewBag.Title = "SuperHeroes";
}

<h2>SuperHeroes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlterEgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatchPhrase)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlterEgo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatchPhrase)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HeroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HeroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HeroId })
        </td>
    </tr>
}

</table>
